header {
  background: blue;
  padding: 15px;
}

nav {
  background: red;
}

.container {
  text-align: center;
}

.row-container {
  background: orange;
  display: flex;
  flex-wrap: wrap;
}

.photo-container {
  background: skyblue;
  width: 30%;
  text-align: center;
  margin: 0 2%;
}

.sub-image {
  width: 80%;
}